/* blog classes */
.blog-container {
 width: 85%;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 4fr 1fr 1fr;
}

.blog-post-wrapper {
 margin: -10px;
}

.blog-post-wrapper > h3 {
 text-align: left;
}

/* column classes */
.column-1 {
 grid-column: 1/3;
}

.column-2 > aside {
 border: 2px solid #000;
 width: 85%;
 margin-top: 10px;
 line-height: 2.5;
 font-family: "Unica One", cursive, sans-serif;
 font-size: 15px;
}

/* aside */
aside > h3 {
 text-align: center;
}

/* blog container navigations */
.previous-wrapper a::before {
 /* before selector will insert something before the content of each selected element */
 content: "←";
}

.next-wrapper a::after {
 /* after selector will insert something after the content of each selected element */
 content: "→";
}

.next-previous-container {
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 font-size: 14px;
 font-family: "Unica One", cursive, sans-serif;
}

.next-previous-container a {
 color: #000;
}